body {
  background-color: #dddddd;
  margin: 10px;
}
#canvas {
  background-color: white;
  display: block;
  margin: 0 auto;
}
#scoreboard {
  color: black;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#controller {
  text-align: center;
  width: 100%;
}
